ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.nav_bar {
  background: #1A1938;
  height: 60%;
  position: absolute;
  width: 100%;
  height: 10%;
  ;
}
.nav_bar_right{
  width: 15%;
  right:0;
  top: 30px;
  
  text-decoration: none;
  position: absolute;;
}
li{
  margin: 5px;
}
a{
  color:white;
  font-weight: 400;
  font-size:15px;
}
h1{
  color: white;
  margin-left: 10px;
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;

}