<div class="nav_bar">
  <div class="nav_bar_left">
    <h1>ChatOps</h1>
  </div>
  <div class="nav_bar_right">
    <ul>
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#news">News</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
    </ul>
  </div>
</div>