.left-section {
    width: 16%;
    float: left;
    position: absolute;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #4d394b;
    height: 100%
}

.content {
    height: 100%;
    width: 100%
}

div h2 {
    color: rgb(202, 196, 201);
    font-size: 16px;
    font-family: NotoSansJP, Slack-Lato, appleLogo, sans-serif;
    padding-left: 10px;
    display: inline-block;
}

#menu {
    font-size: 1rem;
    font-weight: 900;
    padding: 0 1rem;
    color: #fff;
    border-bottom: 1px solid #4d394b;
    position: relative;
    z-index: 50;
    flex-basis: 61px;
    flex-shrink: 0;
}

#user_name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: fff;
    position: relative;
    left: 0px;
    top: 10px;
    width: 80%;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.5;
}

span {
    position: relative;
    color: white;
    left: 90px;
    font-size: 15px;
}

.channels {
    display: flex;
    align-items: center;
    height: 26px;
    line-height: 26px;
    padding: 0 12px 0 15px;
    width: 60%;
    position: relative;
    left: 18px;
    border-radius: 0;
    color: rgb(202, 196, 201);
}

.errormsg {
    color: white;
}

.right-section {
    width: 84%;
    height: 100%;
    position: absolute;
    right: 0;
}

#msg_input {
    position: absolute;
    bottom: 0;
    width: 160%;
    margin-bottom: 30px;
}

#chat_input {
    padding: 6px 30px 6px 9px;
    border-color: #717274;
    width: 60%;
    border-radius: 15px;
    margin-left: 22px;
}

#symbol {
    width: 20px;
    position: absolute;
    color: rgb(202, 196, 201);
    left: 16px;
    margin-top: 3px;
}

div h1 {
    position: relative;
    left: 20px;
}

#chat {
    border-radius: 8px;
    /* background: rgb(202, 196, 201); */
    position: relative;
    left: 1.3%;
    margin-bottom: 8px;
    margin-right: 30px;
    width: 60%;
    /* margin */
    /* padding-left: 8px; */
}

#owner {
    color: #4d394b;
    position: relative;
    left: 0;
    /* color: black; */
    font-weight: bold;
    text-transform: capitalize;
}

.addmem {
    color: rgb(202, 196, 201);
    position: absolute;
    left: 120px;
    margin-top: -21px
}

.success {
    color: red;
}

.fa-upload {
    position: relative;
    left: 14px;
    font-size: 18px;
}

#search {
    margin-left: 10px;
}

.createsearch {
    margin: 10px;
    border-radius: 10px;
    padding-left: 5px;
    width: 60%
}

#time {
    float: right;
    color: black;
    margin-right: 110px;
}

.listitem:hover {
    background: #4C9689;
}

.listitem {
    border-radius: 5px;
}

.listitem::selection {
    background: #008952;
}

#searchChannel {
    padding-left: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: 8.5%;
}

#message_area {
    height: 80%;
    width: 100%;
    /* width: inherit; */
    overflow: scroll;
}

.sender {
    float: right;
    background: rgb(230, 255, 204)
}

.receiver {
    float: left;
    background: rgb(202, 196, 201);
}

#signout {
    position: relative;
    left: 75%;
    font-size: 18px;
    top: -22%;
}

.right-section p {
    font-style: italic;
    position: absolute;
    top: 2.7%;
    left: 8px;
    font-size: 35px
}

#channelName {
    border-bottom: 1px solid #bbb;
    height: 8%;
    font-family: "Knockout 27 A", "Knockout 27 B", Helvetica, Arial, sans-serif;
}

#action {
    background: #4C9689;
    border-radius: 12px;
}