<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
<div class="content">
  <div class="left-section">
    <div id="menu">
      <span id="user_name">{{username}}</span>
      <p id="signout" (click)="signout()">
        <i class="fas fa-sign-out-alt"></i>
      </p>
    </div>

    <!-- searching channels using custom pipe -->
    <input [(ngModel)]="searchText" #r placeholder="Search Channels" (keyup)="clear(r.value)" id="searchChannel">
    <div *ngFor="let channel of channels | filter : searchText">
      <p id="symbol">#</p>
      <a id="channel_{{channel}}" class="channels" (click)="addUserToChannel(channel);">
        {{channel}}
      </a>
    </div>
    <div *ngIf="useradded" class="errormsg">Already a Member</div>

    <div>
      <h2>Channels</h2>
      <span>
        <i (click)="showAddChannel()" class="fas fa-plus-circle"></i>
      </span>
      <div *ngIf="status" class="addChannel">
        <input class="createsearch" type="text" [(ngModel)]="channel" name="channel" placeholder="create channel">
        <button id="action" (click)="createchannels();">Create</button>
      </div>
      <div *ngFor="let channel of joinedChannels" class="listitem" id="con_{{channel}}">
        <div>

          <p id="symbol">#</p>
          <a id="channel_{{channel}}" (click)="getMessage(channel);" class="channels">{{channel}} </a>
        </div>
      </div>
    </div>
  </div>
  <div class="success" *ngIf="msg">success</div>
  <div class="right-section">
    <h1 id="channelName">{{channelName}}</h1>
    <div id="message_area">
      <div id="chat" *ngFor="let message of messages" [ngClass]='{"sender":(message.from == username),"receiver":(message.from != username)}' >
        
        <span id="owner">{{message.from}} :</span>
        {{message.body}}
        <span id="time">{{message.date_created | date:'h:mm a z'}} </span>
      </div>
    </div>
    <div id="msg_input">
      <i class="fas fa-upload"></i>
      <input id="chat_input" type="text" placeholder="enter message" #ref [(ngModel)]="chat_message" (keyup.enter)="sendMessage();">
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<!-- [ngClass]="{'sender':message.from==username,'reciever':msg.from!=username}" -->