.container{
    position: absolute;
    top: 40%;
    height: 30%;
    left:432px;
    width:40%
}
.socialButton{
    margin-top: 25px;
}
.btn-primary{
    background: #3f46ad;
    width: 60%;
    color: #fff;
    fill: #fff;
    padding: .75rem 1rem;
    height: 60px;
}
.content{
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    font-weight: 500;
    font-size: 4.8rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    top: 160px;
    left: 38%;
}