<app-header>
</app-header>
<div class="content"><h1>Where Work Happens</h1></div>
<div class="container ">
  <div class="row text-center">

    <div class="socialButton">
        <button (click)="socialSignIn()" type="button" class="btn btn-primary">Login with Gmail</button>
    </div>
    
  </div>
</div>
